version: "3.8"

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yii2_php
    volumes:
      - ./www:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: yii2_nginx
    ports:
      - "8080:80"
    volumes:
      - ./www:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: mysql:5.7
    container_name: yii2_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yii2_basic
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
